<style>
     .titulo_referencial{
         font-size: 6px;
    }
    .notas_referencial{
         font-size: 6px;
    }
    li{
     text-align: justify;
}
.enc_sol{
     width: 100%;
}
.cabecera{
     margin-left: 5%;
     font-size: 10px;
     text-align: left;
}
.pie{
     font-size: 10px;
}
.izquierda{
     width: 50%;
     text-align: left;
     float: left;
     background: green;
}
.derecha{
     width: 49%;
     text-align: right;
     float: left;
     background: yellow;
}
.centrarVerviatico{
     text-align: center;
     font-size: 20px;
}
.tituloVerviatico{
     text-align: center;
     font-size: 12px;
     border: 1px solid #000;
     background: #bfbfbf;
     font-weight: bold;
}
.contenido{
      font-size: 10px;
}
.contenidoTitulo{
     text-align: center;
     font-size: 10px;
     border: 1px solid #000;
     background: #bfbfbf;
     font-weight: bold;
}
p {
     margin: 1px auto;
}

</style>
<!-- <page backtop="7mm" backbottom="7mm" backleft="7mm" backright="7mm"> -->
<page backleft="12mm" backright="7mm">
<!-- <page> -->
    <!--  <page_header>
     <div class="cabecera">
          <p>Solicitud N°: {{solifecfun.solIdsolicitud}}</p>
     </div>
     </page_header> -->
     <page_footer>
     <!-- <div class="pie">
     <div class="izquierda">
      <p>Solicitud N°: {{solifecfun.solIdsolicitud}}</p>
      </div>
     <div class="derecha">
          <p>Página [[page_cu]] de [[page_nb]]</p>
     </div>
     </div> -->
     <table style="width: 100%" cellspacing="0px" cellpadding="0px" class="tablaVerviatico pie" >
               <tr>
                    <td style="width: 50%; text-align: left">
                         <p>Solicitud N°: {{solifecfun.solIdsolicitud}}</p>
                    </td>
                    <td style="width: 50%; text-align: right">
                         <p>Página [[page_cu]] de [[page_nb]]</p>
                    </td>
               </tr>
          </table> 
     </page_footer>
     <div class="centrarVerviatico">
          <img src={{imagen}} width="150" height="50" />
     </div>
     <div class="enc_sol">
     <div class="tituloVerviatico">
          <h5>SOLICITUD DE AUTORIZACION PARA CUMPLIMIENTO DE SERVICIOS INSTITUCIONALES</h5>
     </div>
          <table style="width: 100%" border="1px" cellspacing="0px" cellpadding="0px" class="tablaVerviatico" >
               <tr>
                    <td style="width: 50%">
                         <p class="titulo_referencial">Nro.Solicitud de Autorización de servicios Institucionales</p>
                         <p class="contenido">{{solifecfun.solIdsolicitud}}</p>
                    </td>
                    <td style="width: 50%">
                         <p class="titulo_referencial">Fecha de Solicitud (dd-mm-aaaa):</p>
                         <p class="contenido">{{solifecfun.solFecharealizacion}}</p>
                    </td>
               </tr>
          </table> 
          <table style="width: 100%" border="1px" cellspacing="0px" cellpadding="0px" class="tablaVerviatico">
               <tr>
                    <td class="contenido" style="width: 20%"><p>VIATICOS</p></td>
                    <td class="contenido" style="width: 5%"><p>X</p></td> 
                    <td class="contenido" style="width: 20%"><p>MOVILIZACIONES</p></td>
                    <td class="contenido" style="width: 5%"><p></p></td>
                    <td class="contenido" style="width: 20%"><p>SUBSISTENCIAS</p></td>
                    <td class="contenido" style="width: 5%"><p></p></td>
                    <td class="contenido" style="width: 20%"><p>ALIMENTACION</p></td>
                    <td class="contenido" style="width: 5%"><p></p></td>
               </tr>
          </table>
          <!-- <br> -->
          <div class="tituloVerviatico">DATOS GENERALES</div>
         <table style="width: 100%" border="1px" cellspacing="0px" cellpadding="0px" class="tablaVerviatico">
          <tr>
               <td style="width: 50%">
                    <p class="titulo_referencial">NOMBRES COMPLETOS DE LA O EL SERVIDOR:</p>
                    <p class="contenido">{{solifecfun.per.perNombrecompleto}}</p>
                    <p class="contenido"> {{solifecfun.per.perIdentificacion}}</p>
               </td>
               <td style="width: 50%">
                    <p class="titulo_referencial">PUESTO QUE OCUPA:</p>
                    <p class="contenido">{{cardep.carNombre}}</p>
               </td>
          </tr>
          <tr>
               <td style="width: 50%">
                    <p class="titulo_referencial">CIUDAD - PROVINCIA DEL SERVICIO INSTITUCIONAL:</p>
                    {% for ciudadessolMostrar in ciudadessol %}
                    <p class="contenido">{{ciudadessolMostrar.ciu.ciuNombre}}-{{ciudadessolMostrar.ciu.prov.provNombre}}
                    </p> 
                    {% endfor %}       
               </td>
               <td style="width: 50%">
                    <p class="titulo_referencial">NOMBRE DE LA UNIDAD A LA QUE PERTENECE LA O EL SERVIDOR:</p>
                    <p class="contenido">{{cardep.dep.depNombre}}</p>
               </td>
          </tr>
     </table>
     <table style="width: 100%" border="1px" cellspacing="0px" cellpadding="0px" class="tablaVerviatico">
          {% for estadosolMostrar in estadosol %}
          <tr>
               <td style="width: 25%">
                    <p class="titulo_referencial">FECHA SALIDA (dd-mm-aa):</p>
                    <p class="contenido">{{estadosolMostrar.estsolFechasalida}}</p>
               </td>
               <td style="width: 25%">
                    <p class="titulo_referencial">HORA SALIDA (hh:mm):</p>
                    <p class="contenido">{{estadosolMostrar.estsolHorasalida}}</p>
               </td>
               <td style="width: 25%">
                    <p class="titulo_referencial">FECHA LLEGADA (dd-mm-aa):</p>
                    <p class="contenido">{{estadosolMostrar.estsolFechallegada}}</p>
               </td>
               <td style="width: 25%">
                    <p class="titulo_referencial">HORA LLEGADA (hh:mm):</p>
                    <p class="contenido">{{estadosolMostrar.estsolHorallegada}}</p>
               </td>
          </tr>
          {% endfor %}
     </table>
     <table style="width: 100%" border="1px" cellspacing="0px" cellpadding="0px" class="tablaVerviatico">
          <tr>
               <td style="width: 100%" >
                    <p class="titulo_referencial">SERVIDORES QUE INTEGRAN LOS SERVICIOS INSTITUCIONALES:</p>
                    {% for personasssolMostrar in personasssol %}
                    <p class="contenido">{{personasssolMostrar.per.perNombrecompleto}}
                    </p>
                    {% endfor %}
               </td>
          </tr>
     </table>
     <table style="width: 100%" border="1px" cellspacing="0px" cellpadding="0px" class="tablaVerviatico">
          <tr>
               <td style="width: 100%" >
                    <p class="titulo_referencial">DESCRIPCION DE LAS ACTIVIDADES A EJECUTARSE:</p>
                    <div style="width: 100%" >
                        <p style="width: 90%" class="contenido">{{estadosol[0].estsolActividades|raw}}</p>
                    </div>
               </td>
          </tr>
     </table>
     <!-- <br> -->
     <!-- <div> -->
     <div class="tituloVerviatico">TRANSPORTE</div> 
     <table style="width: 100%" border="1px" cellspacing="0px" cellpadding="0px" class="tablaVerviatico">
          <thead>
               <tr>
                    <th class="contenido" style="width: 10%" >Tipo de Transporte</th>
                    <th class="contenido" style="width: 10%" >Nombre de Transporte</th>
                    <th class="contenido" style="width: 20%" >Ruta inicio</th>
                    <th class="contenido" style="width: 20%" >Ruta fin</th>
                    <th class="contenido" style="width: 10%" >Fecha salida</th>
                    <th class="contenido" style="width: 10%" >Hora salida</th>
                    <th class="contenido" style="width: 10%" >Fecha llegada</th>
                    <th class="contenido" style="width: 10%" >Hora llegada</th>
               </tr>
          </thead>
          <tbody>
               {% for transportessolMostrar in transportessol %}
               <tr>
                    <td class="contenido" style="width: 10%" >{{transportessolMostrar.tiptra.tiptraTipo}}</td>
                    <td class="contenido" style="width: 10%" >{{transportessolMostrar.tiptra.tiptraNombre}}</td>
                    <td class="contenido" style="width: 20%" >{{transportessolMostrar.trasolRutainicio}}</td>
                    <td class="contenido" style="width: 20%" >{{transportessolMostrar.trasolRutafin}}</td>
                    <td class="contenido" style="width: 10%" >{{transportessolMostrar.trasolFechasalida}}</td>
                    <td class="contenido" style="width: 10%" >{{transportessolMostrar.trasolHorasalida}}</td>
                    <td class="contenido" style="width: 10%" >{{transportessolMostrar.trasolFechallegada}}</td>
                    <td class="contenido" style="width: 10%" >{{transportessolMostrar.trasolHorallegada}}</td>
               </tr>
               {% endfor %}
          </tbody>
     </table>
     <!-- </div> -->
     <!-- <br> -->
     <div class="tituloVerviatico">DATOS PARA TRANSFERENCIA</div> 
     <table  style="width: 100%" border="1px" cellspacing="0px" cellpadding="0px" class="tablaVerviatico">
          <tr>
               <td style="width: 34%">
                    <p class="titulo_referencial">NOMBRE DEL BANCO:</p>
                    <p class="contenido">{{bancosol.ban.banNombre}}</p>
               </td>
               <td style="width: 33%">
                    <p class="titulo_referencial">TIPO DE CUENTA:</p>
                    {% if bancosol.banperTipocuenta == "A" %}
                    <p class="contenido">AHORROS</p>
                    {% else %}
                    <p class="contenido">CORRIENTE</p>
                    {% endif %}
               </td>
               <td style="width: 33%">
                    <p class="titulo_referencial">N° DE CUENTA:</p>
                    <p class="contenido">{{bancosol.banperNumerocuenta}}</p>
               </td>
          </tr>
     </table>
     <!-- <br> -->
     <table  style="width: 100%" border="1px" cellspacing="0px" cellpadding="0px" class="tablaVerviatico">
          <tr>
               <td class="contenidoTitulo">
                    FIRMA DE LA O EL SERVIDOR SOLICITANTE
               </td>
               <td class="contenidoTitulo">
                    FIRMA DE LA O EL RESPONSABLE DE LA UNIDAD SOLICITANTE
               </td>
          </tr>
          <tr>
               <td style="height: 7%">
                    <!-- <p class="firmado">Firmado Electrónicamente</p> -->
               </td>
               <td style="height: 7%">
                    <!-- <p class="firmado">Firmado Electrónicamente</p> -->
               </td>
          </tr>
          <tr>
               <td style="width: 50%">
                    <p class="titulo_referencial">Nombre de la o el servidor</p>
                    <p class="contenido" >{{solifecfun.per.perNombrecompleto}}</p>
                    <p class="contenido">{{cardep.carNombre}}</p>
               </td>
               <td style="width: 50%">
                    <p class="titulo_referencial">Nombre de la o el responsable de la unidad solicitante</p>
                    <p class="contenido">{{cargojefesol.per.perNombrecompleto}}</p>
                    <p class="contenido">{{cargojefesol.car.carNombre}}</p>
               </td>
          </tr>
          <tr>
               <td class="contenidoTitulo">
                    FIRMA DE LA AUTORIDAD NOMINADORA O SU DELEGADO 
               </td>
               <td rowspan="3" style="width: 50%">
                    <table style="width: 95%" cellspacing="2px" cellpadding="2px" >
                    <tr>
                         <td>
                              
                         <p class="titulo_referencial">NOTAS:</p>
                         <ol class="notas_referencial">
                              <li style="margin-right: 50%">
                                   Esta solicitud deberá ser presentada para su Autoriación, dentro de los tres(3) días plazo previo a la salida programada, salvo los casos de que por necesidad institucionales la Autoridad Nominadora autorice
                              </li>
                              <li style="margin-right: 50%">
                                   Está prohibido conceder servicios institucionale durante los días de descanso obligatorio, con excepción de las Máximas Autoridades, o en casos excepcionales debidamente justificados por la Máxima Autoridad o su Delegado
                              </li>
                              <li style="margin-right: 50%">
                                   De no existir disponibilidad presupuestaria, tanto la solicitud como la autorización quedarán insubsistentes
                              </li>
                         </ol>
                         <p class="titulo_referencial">COMPROMISOS DEL SERVIDOR</p>
                         <ul class="notas_referencial">
                              <li style="margin-right: 50%">
                                   Por este medio, el servidor autoriza a que en los casos en que haya recibido anticipos en concepto viaticos y no haya liquidado una vez culminada la comisión de servicios, se le descuente de su próxima remuneración mensual unificada dichos valores.
                              </li>
                              <li style="margin-right: 50%">
                                   De igual modo, el servidor se obliga a restituir de forma inmediata los valores recibidos en concepto de anticipos de viáticos en los casos en que la comision haya sido suspendida; en caso de ho hacerlo, los valores acreditados en cuenta serán descontados de su próxima remuneración.
                              </li>
                              <li style="margin-right: 50%">
                                   El informe de Servicios Institucionales, conforme a la normativa vigente, deberá preentarlo dentro del término de cuatro(4) días posteriores a la finalización de la comisión de servicios.
                              </li>
                         </ul>
                         </td>
                    </tr>
                    </table>
               </td>
          </tr>
          <tr>
               <td  style="height: 5%">
                    <!-- <p class="firmado">Firmado Electrónicamente</p> -->
               </td>
          </tr>
          <tr>
               <td style="width: 50%">
                    <p class="titulo_referencial">Nombre de la autoridad nominada o su delegado</p>
                    <p class="contenido">{{cargocotosol.per.perNombrecompleto}}</p>
                    <p class="contenido">{{cargocotosol.car.carNombre}}</p>
               </td>
          </tr>
     </table>
</div>
</page>